.skybox.v1 {
  width:100%;
  margin-top:-1rem;
  margin-bottom:1rem;
  display:flex;
  flex-direction: row;
  .skybox-item {
    flex-basis:100%;
    border:solid 1px var(--accent);
    position:relative;
    filter:opacity(0.4);
    padding:0.5rem;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    .icon {
      margin-right:1rem;
    }
    &:hover {
      filter:unset;
      cursor:pointer;
      background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
      box-shadow: inset 0 -3px 0 0 var(--accent) !important;
    }
    &.active {
      filter:unset;
    }
    .name {
      display:none;
    }
    &.no-count {
      .name {
        display:unset !important;
      }
    }
  }
}

.skybox.v2 {
  border-radius: 3rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  flex-grow: 1;
  flex-direction: row;
  user-select: none;
  align-self: center;
  position: relative;
  top:-0.5rem;
  margin-bottom:0.25rem;
  max-width: 100%;
  overflow: hidden;
  .skybox-item {
    font-weight: var(--bold, 600);
    place-content: center;
    position: relative;
    border-radius: 2rem;
    line-height: 2.5rem;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
    font-size:0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    .icon, .count {
      padding-right:0.5rem;
    }
    &.active {
      background:var(--input-background);
    }
    .icon {
      font-size: 1.25rem;
      position: relative;
      top: 0.1rem;
    }
  }
}

@media screen and (min-width: 1200.001px)
{
  .skybox.v1 {
    height:5rem;
    .skybox-item {
      padding:unset;
      text-align: unset;
      .icon {
        left: 1rem;
        top: 0.85rem;
        font-size: 3rem;
        position: absolute;
        width: 3rem;
        text-align: center;
        margin-right:unset;
      }
      .count {
        display:block;
        font-size:2.25rem;
        line-height:3rem;
        padding:0;
        margin:0;
        text-align: left;
        margin-left: 5.5rem;
        position: relative;
        top: 0.25rem;
      }
      .name {
        text-align: left;
        margin-left: 5.5rem;
        font-size:0.8rem;
        display: unset;
      }
      &.no-count {
        display: flex;
        align-items: center;
        .name {
          font-size: 1.5rem;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .skybox.v1 {
    .icon {
      display: block;
      margin: auto auto 0.5rem !important;
    }
  }
}