.skybox.v1 {
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.skybox.v1 .skybox-item {
  flex-basis: 100%;
  border: solid 1px var(--accent);
  position: relative;
  filter: opacity(0.4);
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skybox.v1 .skybox-item .icon {
  margin-right: 1rem;
}
.skybox.v1 .skybox-item:hover {
  filter: unset;
  cursor: pointer;
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  box-shadow: inset 0 -3px 0 0 var(--accent) !important;
}
.skybox.v1 .skybox-item.active {
  filter: unset;
}
.skybox.v1 .skybox-item .name {
  display: none;
}
.skybox.v1 .skybox-item.no-count .name {
  display: unset !important;
}

.skybox.v2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  user-select: none;
  align-self: center;
  position: relative;
  top: -0.5rem;
  max-width: 100%;
  align-items: center;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
}
.skybox.v2 .skybox-item {
  font-weight: var(--bold, 600);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.skybox.v2 .skybox-item .icon, .skybox.v2 .skybox-item .count {
  padding-right: 0.5rem;
}
.skybox.v2 .skybox-item.active {
  background: var(--input-background);
}
.skybox.v2 .skybox-item .icon {
  font-size: 1.25rem;
  position: relative;
  top: 0.1rem;
}

@media screen and (min-width: 1200.001px) {
  .skybox.v1 {
    height: 5rem;
  }
  .skybox.v1 .skybox-item {
    padding: unset;
    text-align: unset;
  }
  .skybox.v1 .skybox-item .icon {
    left: 1rem;
    top: 0.85rem;
    font-size: 3rem;
    position: absolute;
    width: 3rem;
    text-align: center;
    margin-right: unset;
  }
  .skybox.v1 .skybox-item .count {
    display: block;
    font-size: 2.25rem;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 5.5rem;
    position: relative;
    top: 0.25rem;
  }
  .skybox.v1 .skybox-item .name {
    text-align: left;
    margin-left: 5.5rem;
    font-size: 0.8rem;
    display: unset;
  }
  .skybox.v1 .skybox-item.no-count {
    display: flex;
    align-items: center;
  }
  .skybox.v1 .skybox-item.no-count .name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .skybox.v1 .icon {
    display: block;
    margin: auto auto 0.5rem !important;
  }
}
