.dialog-fields
{
  ::deep .row {
    margin: 0.5rem 0;
  }
}

.add-dialog-tabs ::deep
{
  .tb-CustomVariables {
    width:12rem;
  }
  .flow-tabs-content {
    height: min(20rem, 50vw);
  }
  .input-keyvalue-wrapper {
    margin: 0 1rem;
    width: calc(100% - 1.5rem);
  }
}

textarea {
  width: 100%;
  height: 100%;
}

.list {
  display:flex;
  flex-direction: column;
  width:100%;
  max-height: 20rem;
  overflow: auto;
}

.item {
  display:flex;
  flex-direction: row;
  width:100%;
  margin-bottom:0.25rem;
  padding:1px;
  button {
    width:3rem;
  }
  input[type=text] {
    flex-grow:1;
  }
}