.dialog-fields ::deep .row {
  margin: 0.5rem 0;
}

textarea {
  width: 100%;
  height: min(20rem, 70vh);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 20rem;
  overflow: auto;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 1px;
}
.item button {
  width: 3rem;
}
.item input[type=text] {
  flex-grow: 1;
}
