@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="@lblMonth" Value="0" />
            <WidgetOption Label="@lblAll" Value="1" />
        </OptionButtons>
    </Head>
    <Body>
    <div class="lss-widget">
        <LibrarySavingsComponent @ref=Component Mode="@Mode"  />
    </div>
    </Body>
</ContainerWidget>