@using FileFlows.Client.Helpers
@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="Savings" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="Week" Value="1" />
            <WidgetOption Label="Month" Value="2" />
        </OptionButtons>
    </Head>
    <Body>
    <CircularChart Percent="@TotalPercent" Title="@TotalSavings" />
    <div class="libraries">
        @foreach (var library in Data)
        {
            var savings = FileSizeFormatter.FormatSize(library.OriginalSize - library.FinalSize, 1);
            var percent = library.OriginalSize == 0 ? "0" : $"{(library.OriginalSize - library.FinalSize) * 100 / library.OriginalSize}%";
            <div class="library">
                <span class="name">@library.Library</span>
                <span class="savings">@savings</span>
                <div class="bar">
                    <div class="inner" style="width:@percent" />
                </div>
            </div>
        }
    </div>
    </Body>
</ContainerWidget>