.library-saving {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  line-height: 2;
  padding: 0;
  margin: 0.75rem;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  border: solid 1px var(--border-color);
}
.library-saving .library-saving-content {
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}
.library-saving .path {
  font-size: 0.9rem;
  word-break: break-all;
}
.library-saving .info {
  padding-bottom: 0.5rem;
}
.library-saving .right {
  width: 10rem;
  min-width: 10rem;
}
.library-saving .time {
  padding-top: 2rem;
  display: block;
  font-size: 0.9rem;
  font-weight: var(--bold, 600);
  text-align: right;
  padding-right: 0.5rem;
}
.library-saving .savings-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  background: #33b2df;
  z-index: 0;
}

.icon {
  width: 3rem;
}
.icon .icon {
  height: 2.25rem;
}
