
.lss-widget-chart {
  padding-right: 1rem;
}
.lss-widget-list {
  display:flex;
  flex-direction: column;
  flex-grow:1;
  overflow: auto;
  padding-right: 1rem;
}
@media (max-width: 850px)
{
  .lss-widget-list {
    overflow: hidden;
    padding-bottom:1rem;
  }
}
.library {
  display: flex;
  position: relative;
  line-height: 4rem;
  padding: 0 0 1rem;
  .name {
    flex-grow:1;
    position: relative;
    top: 0.5rem;
    font-size: 1.1rem;
  }
  .savings {
    font-weight: var(--bold, 600);
    font-size:1.3rem;
  }
  .items {
    opacity: 0.5;
    font-weight: 600;
    font-size: 0.9rem;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
  }
}
.bar {
  position: absolute;
  bottom:0;
  background: var(--base-darker);
  height:0.5rem;
  left:0;
  right:0;
  border-radius: 0.5rem;
  overflow: hidden;
  .inner {
    background: var(--accent-2);
    height:100%;
    transition: width 0.6s ease;
  }
}