.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 40rem;
}
.dropdown .dropdown-button {
  width: 100%;
  background-color: var(--input-background);
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--input-height);
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--base);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 20rem;
  overflow-y: auto;
  display: none;
}
.dropdown .dropdown-menu.open {
  display: block;
}
.dropdown .dropdown-menu li {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--color);
}
.dropdown .dropdown-menu li img {
  width: 1.5rem;
}
.dropdown .dropdown-menu li:hover {
  background: var(--base-lightest-2);
}
.dropdown .dropdown-menu li.selected {
  background-color: var(--base-lightest);
  font-weight: bold;
}
.dropdown .dropdown-menu li .option-image {
  margin-right: 1rem;
  vertical-align: middle;
}
.dropdown .dropdown-menu li .optgroup-label {
  font-weight: bold;
  padding: 1rem;
  background-color: var(--optgroup-background);
  border-bottom: 0.1rem solid var(--border-color);
}
