@namespace FileFlows.Client.Components.Inputs
@inherits Input<object>

<div class="input-track-selector">
    <InputWrapper Input="@this">
        Track: [Automatic | Custom ]
        [Field] = [Value]
        Automatic
        Language use language helper
        Title equals or contains
        CHannels matches >= 5.0
        Codec equals
    </InputWrapper>
</div>