.processing-node {
  display:flex;
  flex-direction: row;
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 0.75rem;
  font-size: 0.8rem;
  position: relative;
  &.disabled {
    opacity: 0.5;
  }
  span.icon {
    position: relative;
    align-self: center;
    margin-right:1rem;
    img {
      width: 6rem;
      padding: 0 0.5rem;
    }
    .architecture {
      position: absolute;
      bottom: -0.2rem;
      font-size: 0.9rem;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1.25;
      font-weight: var(--bold, 600);
      color: white;
      background-color: var(--primary);
    }
  }
  .summary, .center {
    .name {
      font-size:1.2rem;
      font-weight: var(--bold, 600);
      padding-bottom: 0.25rem;
      display: inline-block;
    }
    .hardware-info-item {
      display:flex;
      flex-direction: row;
      padding: 0.2rem 0;
      .label {
        font-weight: var(--bold, 600);
        width: 10rem;
        min-width: 10rem;
      }
      .value {
        margin-left: 0.5rem;
      }
    }
    .top-right {
      font-size: 1rem;
      &.status-version-mismatch {
        background-color: var(--warning);
      }
      &.status-out-of-schedule {
        background-color: var(--purple);
      }
      &.status-maximum-runners-reached {
        background-color: var(--green);
      }
      &.status-installing-docker-mods {
        background-color: var(--blue);
      }
    }
  }
}