.actions {
  position: absolute;
  bottom: 0.25rem;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: left 0.3s ease-out;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem 0.9rem;
  align-items: center;
  background: var(--base-lightest-2);
  font-size: 1.75rem;
  align-content: center;
}
.actions i {
  cursor: pointer;
  opacity: 0.5;
}
.actions i:hover {
  opacity: 1;
}

.widget-runner {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  line-height: 2;
  padding: 0;
  margin: 0.75rem;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  border: solid 1px var(--border-color);
}
.widget-runner:hover .actions {
  left: 0;
}
.widget-runner .runner-content {
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}
.widget-runner .details {
  display: none;
  grid-template-columns: repeat(6, auto);
  padding: 0.5rem 2rem 1rem;
  border-top: solid 1px var(--border-color);
  font-size: 0.9rem;
}
.widget-runner .info .current-flow-element {
  display: none;
}
.widget-runner .info .others {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}
@media (max-width: 1120px) {
  .widget-runner .top-right {
    display: none;
  }
  .widget-runner .right {
    min-width: unset !important;
    width: fit-content !important;
  }
  .widget-runner .info .current-flow-element {
    display: unset !important;
    align-content: center;
  }
}
@media (min-width: 850.001px) and (max-width: 1120px) {
  .widget-runner .icon {
    display: none;
  }
  .widget-runner .info .current-flow-element {
    margin-left: 0.25rem;
  }
  .widget-runner .info .others {
    display: none;
  }
  .widget-runner .name {
    position: absolute;
    z-index: 0;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .widget-runner .center {
    margin-top: 2rem;
  }
}
@media (max-width: 600px) {
  .widget-runner .details {
    grid-template-columns: repeat(4, auto);
  }
}
.widget-runner.expanded .details {
  display: grid;
}
.widget-runner.expanded .actions {
  bottom: 0;
}
.widget-runner .right {
  width: 7rem;
  min-width: 7rem;
}
.widget-runner .overall-progress {
  background: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.widget-runner .current-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  background: var(--accent-2);
  z-index: 0;
}

.head {
  display: flex;
  flex-direction: row;
  font-weight: var(--bold, 600);
  padding-left: 1rem;
  align-items: center;
  border-bottom: solid 1px var(--border-color);
}
.head > span {
  line-height: 3.2rem;
  flex-grow: 1;
}

.icon {
  width: 3rem;
}
.icon .icon {
  height: 2.25rem;
}

.steps {
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: var(--bold, 600);
  height: fit-content;
  align-self: center;
  border-radius: var(--container-border-radius);
  padding: 0.25rem 0.5rem;
  width: fit-content;
  margin: 2rem 0 0 auto;
}

.label {
  font-weight: var(--bold, 600);
  display: inline-block;
}

.value {
  opacity: 0.9;
}

.no-runners {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  place-content: center;
  font-size: 1.2rem;
  font-weight: var(--bold, 600);
}
.no-runners i {
  font-size: 5rem;
  margin-bottom: 1rem;
}
