@namespace FileFlows.Client.Components.Inputs
@inherits Input<object>

<InputWrapper Input="@this">
    <div class="combobox-wrapper">
        <input type="text" list="comboOptions" @bind="SelectedLabel" class="combobox-input" />
        <datalist id="comboOptions">
            @foreach (var option in Options)
            {
            <option value="@option.Label">@option.Value</option>
            }
        </datalist>
    </div>
</InputWrapper>