@using FileFlows.Client.Helpers

@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="Runners" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="Runners" Value="0" Icon="fas fa-running"/>
            <WidgetOption Label="Charts" Value="1" Icon="fas fa-chart-bar"/>
        </OptionButtons>
    </Head>
    <Body>
    
    <div class="runners @(Mode == 0 ? "active" : "")">
        <RunnersComponent />
    </div>

    <div class="charts @(Mode == 1 ? "active" : "")">
        <RunnerChartsComponent />
    </div>

    </Body>
</ContainerWidget>