table {
  margin: 0 1rem;
  width: calc(100% - 2rem);
}
table tr {
  border-left: solid 1px var(--border-color);
}
table tr td {
  width: 100%;
}
table tr:hover {
  background: unset !important;
}
table tr:hover:nth-child(odd) {
  background: rgba(255, 255, 255, 0.03) !important;
}
