@namespace FileFlows.Client.Components.Dialogs
@inherits VisibleEscapableComponent

<Modal Title="@Title" Visible="Visible">
    <Body>
        <span class="message">@Message</span>
    </Body>
    <Footer>
        <button class="btn" id="@btnOkUid" @onclick=@Cancel>@lblOk</button>
    </Footer>
</Modal>