body button {
  color: inherit;
}

.btn, a.btn, .btn-select {
  font-size: 0.9rem !important;
  height: var(--input-height, 2.1875rem);
  outline: none !important;
  line-height: initial;
  box-shadow: none;
  border-radius: var(--button-border-radius) !important;
  border: solid 1px var(--border-color);
  background-color: var(--input-background);
  color: var(--color) !important;
  overflow: hidden;
  font-weight: var(--bold, 600);
}
.btn:hover:not(:disabled), .btn:active:not(:disabled), a.btn:hover:not(:disabled), a.btn:active:not(:disabled), .btn-select:hover:not(:disabled), .btn-select:active:not(:disabled) {
  background: #515151;
  color: var(--color) !important;
}
.btn:disabled, a.btn:disabled, .btn-select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:focus:not(.toast-button-btn), a.btn:focus:not(.toast-button-btn), .btn-select:focus:not(.toast-button-btn) {
  background: #515151;
  outline: solid 1px var(--border-color) !important;
}

a.btn {
  display: inline-flex;
  place-items: center;
  color: var(--color) !important;
  text-align: center;
  min-width: 6rem;
}

.btn-select {
  min-width: 7rem;
  text-align: center;
}
.btn-select option, .btn-select optgroup {
  background: var(--base);
  color: var(--color);
}
