.btn, a.btn, .btn-select 
{
    font-size: 0.9rem !important;
    height: var(--input-height, 2.1875rem);
    outline: none !important;
    line-height: initial;
    box-shadow: none;
    border-radius: var(--button-border-radius) !important;
    border: solid 1px var(--border-color);
    background-color: var(--input-background);
    color: var(--color) !important;
    overflow: hidden;
    font-weight: var(--bold, 600);

    &:hover:not(:disabled), &:active:not(:disabled){        
        //background-image: var(--btn-background-image, linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3))) !important;
        background:#515151;
        //box-shadow: var(--btn-box-shadow, inset 0 -3px 0 0 var(--accent)) !important;
        color: var(--color) !important;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &:focus:not(.toast-button-btn) {
        //background:var(--btn-focus-background, rgba(var(--accent-rgb), 0.2)) !important;
        background:#515151;
        outline: solid 1px var(--border-color) !important;
    }
}
a.btn {
    display: inline-flex;
    place-items: center;
    color:var(--color) !important;
    text-align:center;
    min-width:6rem;
}

.btn-select {
    min-width:7rem;
    text-align:center;
    option, optgroup {
        background:var(--base);
        color:var(--color);
    }
}