ul {
  list-style:none;
  margin:0; 
  padding: 0;
}

li label {
  display:grid;
  grid-template-columns: 2.5rem 3rem 1fr;
}
img {
  width: 3rem;
  max-height: 3rem;
}
::deep .icon {
  font-size: 2rem;
}
.tag-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}
.tag-description  {
  font-size:0.9rem;
  display:block;
}