@media (max-width: 720px) {
  .grid {
    display: flex !important;
    flex-direction: column !important;
    height: fit-content !important;
    overflow: unset !important;
  }
  ::deep .flow-tab.active {
    overflow: auto !important;
    top: 8.5rem !important;
    padding: 0 0.5rem 1rem !important;
  }
  ::deep .flow-tab.active.dashboard {
    flex-direction: column-reverse !important;
    scroll-behavior: auto !important;
  }
  ::deep .flow-widget {
    margin-bottom: 1rem;
  }
  .savings {
    flex-direction: column-reverse !important;
    scroll-behavior: auto !important;
  }
}
.dashboard-wrapper {
  padding: 1rem 0;
  height: 100%;
}
.dashboard-wrapper ::deep .flow-tabs.style-new-style {
  height: 100%;
}
@media (min-width: 850px) {
  .dashboard-wrapper ::deep .flow-tabs.style-new-style > .flow-tab-buttons button:first-child {
    margin-left: 1rem;
  }
}
.dashboard-wrapper ::deep .flow-tabs.style-new-style > .flow-tabs-content {
  padding: 0 1rem;
}
.dashboard-wrapper ::deep .flow-tabs.style-new-style > .flow-tabs-content > .flow-tab.active {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5rem;
  bottom: 0;
  padding: 1rem;
}
.dashboard-wrapper .grid {
  display: grid;
  grid-gap: 0.5rem;
}
.dashboard-wrapper .grid + .grid {
  margin-top: 1rem;
}
.dashboard-wrapper .grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.dashboard-wrapper .grid-60-40 {
  grid-template-columns: 1fr minmax(36rem, 40%);
}
@media (max-width: 1040px) {
  .dashboard-wrapper .grid-60-40 {
    grid-template-columns: 1fr minmax(28rem, 40%);
  }
}
.dashboard-wrapper .grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.dashboard-wrapper .grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.flex-grow {
  flex-grow: 1;
  overflow: hidden;
}
