@page "/new-dashboard"
@using FileFlows.Client.Components.Widgets
@namespace FileFlows.Client.Pages

@if (loaded)
{
    <div class="dashboard-wrapper">

        <FlowTabs NewTabs="true">
            <FlowTab Title="@lblDashboard" Icon="fas fa-chart-pie" ClassName="dashboard">

                <div class="grid grid-3">
                    <FileOverviewWidget IsFilesProcessed="true" />
                    <FileOverviewWidget IsFilesProcessed="false" />
                    <CpuRamWidget/>
                    @* <TrendWidget Title="Trend" Color="purple" Icon="fas fa-hdd" Suffix="7.5 GB/day" Total="42.6 GB"> *@
                    @*     <WidgetOption Label="Day" Value="1"/> *@
                    @*     <WidgetOption Label="Week" Value="2"/> *@
                    @*     <WidgetOption Label="Month" Value="3"/> *@
                    @* </TrendWidget> *@
                </div>

                <div class="grid grid-60-40 flex-grow">
                    <FlowRunnersWidget/>
                    <FilesWidget />
                </div>

            </FlowTab>
            <FlowTab Title="@lblSavings" Icon="fas fa-dollar-sign">
                <div class="grid grid-60-40 flex-grow savings">
                    <LargestSavingsWidget />
                    <LibrarySavingsSummaryWidget/>
                </div>
            </FlowTab>
        </FlowTabs>

    </div>
}