.input-file-wrapper {
    display:flex;
    flex-direction: column;
}
.preview {
    margin-bottom:1rem;
    img {
        max-width: 100%;
    }
    i {
        font-size: 3rem;
    }
    pre {
        color: var(--color);
        max-width: 100%;
        overflow: auto;
        max-height: 30rem;
        white-space: pre-wrap;
    }
}
.btn {
    max-width: 10rem;
}